body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardPic {
  height: auto;
  width: 100%;
}

.data {
  text-align: center;
}
