html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: lightslategrey; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

nav a {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

nav h1 {
  margin: 0 2rem;
}

.nav-avatar {
  display: flex;
  align-items: center;
}

.nav-avatar span {
  margin-right: 1rem;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  padding-right: 2rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardPic {
  height: auto;
  width: 100%;
}

.data {
  text-align: center;
}

.avatar-name {
  margin: 0;
  text-shadow: 0px 1px 2px white;
}

.vs {
  text-shadow: 0px 1px 1px black;
}

/* ----- Chat ----- */

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 40rem;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}

.chat form {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: flex-start;
}

.message h4 {
  margin: 0.8rem 0.3rem;
}

.message p {
  max-width: 500px;
  margin: 0.5rem;
  padding: 0.5rem;
  line-height: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  color: black;
  background-color: lightblue;
}

.feed {
  max-width: 500px;
  margin: 0.5rem;
  padding: 0.5rem;
  line-height: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  color: black;
  background-color: lightcoral;
}

.messages {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received p {
  background: #e5e5ea;
  color: black;
}
